<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>Gunnars-Brain-Extension.local</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>taildb93d4.ts.net</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>linkedout</string>
			</array>
			<key>CFBundleURLName</key>
			<string>Gunndamental.LinkedOut</string>
		</dict>
	</array>
	<key>NSLocalNetworkUsageDescription</key>
	<string>LinkedOut needs to find and connect to the backend server on your local network.</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_http._tcp</string>
	</array>
</dict>
</plist>
